.meals {
  margin: 2rem auto;
  max-width: 60rem;
  width: 90%;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes meals-appear {
  from {
    transform: translateY(3rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
